<div class="row">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li >
                   <h3>Students</h3><!--THIS IS IN ELEMENTS.html-->
            </li>
            <li id="default-menu-item" data-toggle="content-all-students" class="test-menu-item">
                <a ng-click="filterActiveStudents('all')">
                <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                    All
                </a>
            </li>
            <li data-toggle="content-{{group.name}}" class="test-menu-item" ng-repeat="group in groups">
                <a ng-click="filterActiveStudents(group.name)">
                    <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                    {{group.name}}
                </a>
        </ul>

        <div class="tab-content">
            <div id="content-all-students" class="tab-pane">
                    <div class="message-container">
                        <div id="id-message-list-navbar" class="message-navbar clearfix">
                            <div class="message-bar">
                                <div class="message-infobar" id="id-message-infobar">
                                    <span class="blue bigger-150">Students</span>
                                    <span class="grey bigger-110">({{activeGroupName}})</span>
                                    <span class="btn" id="add-student-button">+</span>
                                </div>
                                
                            </div>
                            <div>
                                <div class="nav-search minimized">
                                    <form class="form-search">
                                        <span class="input-icon">
                                            <input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search student" />
                                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="message-list-container">
                            <div class="message-list" id="message-list">
                                <div class="message-item message-unread" ng-repeat="student in groupStudents">
                                    <label class="inline">
                                        <a studentId="{{student.id}}" class="student-details-link">+</a>
                                    </label>

                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>

                                    <span class="summary">
                                        <span class="glyphicons glyphicons-chevron-right"></span>
                                        {{student.full_name}}
                                        <span class="light-grey"></span>
                                    </span>
                                    <span class="summary">
                                        <span class="badge badge-pink mail-tag"></span>
                                        <span class="text">
                                            {{student.student_email}}
                                        </span>
                                    </span>
                                    <span class="summary">
                                        <span class="text" ng-repeat="groupId in student.groups">
                                                | {{getGroup(groupId).name}}
                                        </span>
                                    </span>
                                    <div class="row">
                                            <div id="details-{{student.id}}" class="student-detail-tests col-xs-8 col-xs-offset-1" >
                                                Answered tests:
                                                <ul>
                                                    <li ng-repeat="test in student.tests">
                                                        <a href="#!/teacher/test-details/{{test.id}}">{{test.name}}</a> <b>{{test.status}}</b>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="message-footer clearfix">
                            <div class="pull-left"> {{groupStudents.length}} students total </div>

                            <div class="pull-right">
                                <div class="inline middle"> page 1 of {{studentManagement.pageAmount}} </div>

                                &nbsp; &nbsp;
                                <ul class="pagination middle">
                                    <li class="disabled">
                                        <span>
                                            <i class="ace-icon fa fa-step-backward middle"></i>
                                        </span>
                                    </li>

                                    <li class="disabled">
                                        <span>
                                            <i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            <input value="1" maxlength="3" type="text" />
                                        </span>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-step-forward middle"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Add student</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="stdName"></span> Student Name</label>
              <input type="text" class="form-control" id="stdName" placeholder="Group Name" ng-model="studentInput.name">
              <label for="stdEmail"></span> Student Email</label>
              <input type="text" class="form-control" id="stdEmail" placeholder="student@domain.com" ng-model="studentInput.email">

              <label></span> Assign to groups</label><br>
              <input type="checkbox" onclick="select-all" id="select-all"> <b>Select all</b>
              <fieldset ng-repeat="group in groups">
                    <input type="checkbox" id="group-{{group.name}}" value="toAddGroup" name="selection" ng-click="selectGroups(group.name)">
                    <label>{{group.name}}</label>
              </fieldset>
            </div>
            <input ng-click="addStudentFromForm()" type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Add Student</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
    $(document).ready(function(){
        //SET ACTIVE MENU TABS
        $("#default-menu-item").addClass("active");
         $("#content-all-students").show();

        $(".test-menu-item").click(function(){
            console.log("HELLO"+$(this).attr('data-toggle'));
            $(".test-menu-item").removeClass("active");
            $(this).addClass("active");
        });

        $(".student-detail-tests").hide();


        $(".student-details-link").click(function(){
            console.log("student clicked");
            $("#details-"+$(this).attr('studentId')).toggle();
        });


        $("#add-student-button").click(function(){
        $("#myModal").modal();
        });

        
  $("#select-all").click(function(event){
    if(this.checked){
      $(":checkbox").each(function() {
          this.checked = true;
      });
    }
    else{
      $(":checkbox").each(function() {
        this.checked = false;
      });
    }
  });
    });
</script>
