<div class="row">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li >
                   <h3>Students</h3><!--THIS IS IN ELEMENTS.html-->
            </li>
            <li id="default-menu-item" data-toggle="content-all-students" class="test-menu-item">
                <a ng-click="filterActiveStudents('all')">      
                <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                    All 
                </a>
            </li>
            <li data-toggle="content-{{group.name}}" class="test-menu-item" ng-repeat="group in groups">
                <a ng-click="filterActiveStudents(group.id)">
                    <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                    {{group.name}}
                </a>
            </li>
        </ul>
    
        <div class="tab-content">
            <div id="content-all-students" class="tab-pane">
                    <div class="message-container">
                        <div id="id-message-list-navbar" class="message-navbar clearfix">
                            <div class="message-bar">
                                <div class="message-infobar" id="id-message-infobar">
                                    <span class="blue bigger-150">Students</span>
                                    <span class="grey bigger-110">(all)</span>
                                </div>
                            </div>
                            <div>
                                <div class="nav-search minimized">
                                    <form class="form-search">
                                        <span class="input-icon">
                                            <input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search student" />
                                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="message-list-container">
                            <div class="message-list" id="message-list">
                                <div class="message-item message-unread" ng-repeat="student in groupStudents">
                                    <label class="inline">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>

                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>

                                    <span class="sender" title="John Doe">
                                        {{student.name}}
                                        <span class="light-grey"></span>
                                    </span>
                                    <span class="time">{{student.lastActivity}}</span>


                                    <span class="summary">
                                        <span class="badge badge-pink mail-tag"></span>
                                        <span class="text">
                                            {{student.email}}
                                        </span>
                                    </span>
                                    <span class="summary">
                                            <span class="text" ng-repeat="groupId in student.groups">
                                                    | {{getGroup(groupId).name}}      
                                            </span>
                                        </span>
                                </div>

                            </div>
                        </div>

                        <div class="message-footer clearfix">
                            <div class="pull-left"> {{groupStudents.length}} students total </div>

                            <div class="pull-right">
                                <div class="inline middle"> page 1 of {{studentManagement.pageAmount}} </div>

                                &nbsp; &nbsp;
                                <ul class="pagination middle">
                                    <li class="disabled">
                                        <span>
                                            <i class="ace-icon fa fa-step-backward middle"></i>
                                        </span>
                                    </li>

                                    <li class="disabled">
                                        <span>
                                            <i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            <input value="1" maxlength="3" type="text" />
                                        </span>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-step-forward middle"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="content-{{group.name}}" class="tab-pane" ng-repeat="group in groups">
                Group {{group.name}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        //SET ACTIVE MENU TABS
        $("#default-menu-item").addClass("active");
         $("#content-all-students").show();
        $(".test-menu-item").click(function(){
            console.log("HELLO"+$(this).attr('data-toggle'));
            $(".test-menu-item").removeClass("active");
            $(this).addClass("active");
            
        });
    });
</script>
