<form class="form-horizontal" role="form">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <h3>Student: {{activeStudentName}}</h3>
            <h4>{{activeTest.title}}</h4>
            <h4>Subject: {{currentTest.subject}}</h4>
        </div>
        <div class="question-container"><!--  HERE IS THE SECTION WHERE ALL THE QUESTIONS ARE DISPLAYED  -->
            <div class="widget-main" ng-repeat="question in activeTest.questions">
                <div>
                    <label for="userAnswer">{{question.text}}</label>
                    <pre id="userAnswer">{{activeStudentTest.answers[$index].answer}}</textarea>
                </div>
                <p style="text-align: right">Valor: {{question.weighting}} puntos</p>
                <hr />
                </div>
        </div>            
    </div>
</form>
