<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li >
               <h3>TESTS</h3><!--THIS IS IN ELEMENTS.html-->
        </li>
        <li data-toggle="content-{{test.name}}" class="test-menu-item" ng-repeat="test in tests">
            <a >
                <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                {{test.name}}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="content-{{group.name}}" class="tab-pane" ng-repeat="test in tests">
            Group {{test.name}}
        </div>
    </div>
</div>

<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                </label>
            </th>
            <th>Domain</th>
            <th>Price</th>
            <th class="hidden-480">Clicks</th>

            <th>
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                Update
            </th>
            <th class="hidden-480">Status</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>




<script type="text/javascript">
    $(document).ready(function(){

        $(".test-menu-item").click(function(){
            console.log("HELLO"+$(this).attr('data-toggle'));
            $(".test-menu-item").removeClass("active");
            $(this).addClass("active");
            $(".tab-pane").hide();
            $("#"+$(this).attr('data-toggle')).show();
        });
    });
    
</script>
