<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li >
               <h3>Tests</h3><!--THIS IS IN ELEMENTS.html-->
        </li>
      <li data-toggle="content-create-test" class="create-test-item" id="create-test-button">
        <a ng-click="changeActiveTest('newTest')">
          <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
          Create Test
        </a>
      </li>

        <li data-toggle="content-{{test.test_id}}" class="test-menu-item" ng-repeat="test in tests">
            <a ng-click="changeActiveTest(test.test_id)">
                <i class="pink ace-icon fa fa-tachometer   bigger-110"></i>
                {{test.subject}}
            </a>
        </li>
    </ul>


    <div class="tab-content" id="test">
        <div id="content-active-test" class="tab-pane" >
            <form class="form-horizontal" role="form">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <h4>{{activeTest.name}}</h4>
                    </div>
                    <div><!-- HERE ARE THE GENERAL TEST SETTINGS  -->
                        <div class="widget-main">
                            <span>Confidence(%): </span>
                            <input type="text" id="spinner1" value="70"/>

                            <span>Tries: </span>
                            <input type="number" id="Tries" class="input-sm" value="1">
                            <div class="space-6"></div>
                        </div>
                    </div>
                    <div class="question-container" ><!--  HERE IS THE SECTION WHERE ALL THE QUESTIONS ARE DISPLAYED  -->
                        <div class="row" ng-repeat="question in activeTest.questions">
                                <label class="col-sm-3 control-label" for="form-field-1"> Question </label>
                                <div class="space-6"></div>
                                <div class="col-sm-7">
                                        <div class="row">
                                                <input type="text" id="form-field-1" placeholder="Explain sharding:, What is a class?" class="col-xs-10 col-sm-8" value="{{question.text}}"/>
                                        </div>
                                        <div class="row">
                                                <form class="form-inline">
                                                        Value:<input type="number" class="input-small" value="{{question.weighting}}">

														<label class="inline">
															Keys: <input type="text" class="input-large" placeholder="Cocept1, Concept2">

														</label>
													</form>
                                            <br>
                                        </div>
                                </div>
                                <div class="space-6"></div>
                            </div>
                            <div class="space-6"></div>
                    </div>
                    <div class="space-6"></div>
                  <div class="space-6"></div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4">
                                <button type="button" class="btn btn-sm btn-success">
                                    Save changes
                                </button>
                                <button type="button" class="btn btn-sm btn-success" id="add-student-button" >
                                        Add question
                                        <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Add Question</h4>
            </div>
            <div class="modal-body" >
              <form role="form">
                <div class="form-group">
                  <label for="question"></span> Question</label>
                  <input type="text" class="form-control" id="question">
                  <label class="inline">
                  Value:<input type="number" class="input-large">

                  <label class="inline">
                  Keys: <input type="text" class="input-large">

                <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Add Questions</button>

              </form>
            </div>
          </div>
        </div>
      </div>



<script src="scripts/template/spinbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#content-active-test").show();
//
      $(".create-test-item").click(function(){
        console.log("HELLO"+$(this).attr('data-toggle'));
        $(".create-test-item").removeClass("active");
        $(this).addClass("active");
      });



        $("#add-student-button").click(function(){
            $("#myModal").modal();
        });




      $('#spinner1').ace_spinner({value:0,min:0,max:200,step:10, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
				.closest('.ace-spinner')
				.on('changed.fu.spinbox', function(){
					//console.log($('#spinner1').val())
				});
    });

</script>

