<body>
<div class="jumbotron">
  <h1>About</h1>
  <h2>Quienes somos?</h2>
  <p>Estudiantes de CETYS Universidad de las carreras de Ingenieria en Ciencias Computacionales y de Ingenieria en Cibernetica Electroncia
  <ul>
    <li>Manuel Puentes</li>
    <li>Allan Castro</li>
    <li>Fidel Castro</li>
    <li>Jorge Payan</li>
  </ul>
  </p>
<h2>Que buscamos?</h2>
<p>
  Proveer una plataforma para facilitar la aplicacion y revision de examenes a estudiantes por parte de sus profesores.<br>
</p>
</div>
</body>

