<div class="jumbotron">
  <div class="row center">
    <div class="col-lg-6 border-right">
      <h2>Sign in with Facebook</h2>
      <div class="row">
        <div class="col-lg-6 col-centered">
          <a class="center btn-block btn-social btn-lg btn-facebook" ng-click="FBLogin()">
            <span class="fa fa-facebook"></span>
            Sign in with Facebook
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h2>Log in with credentials</h2>
    </div>
  </div>
  <div class="row center">
    <h4 style="color:red;">WARNING: IF YOU HAVE AN ADBLOCKER SOME FEATURES MAY NOT WORK AS INTENDED. PLEASE DISABLE IT IF YOU'RE HAVING PROBLEMS LOGGING IN WITH FACEBOOK.</h4>
  </div>
</div>
